
.card{
  height: 800px;
  width: 100%;
  margin-top: 90px;
 
}

.card1 {
  height: 250px;
  width: 750px;
  margin-top: 10px;
  border: 1px solid black;
  align-items: center;
  margin: auto;
  
}
.card2 {
  margin-left: 10px;
  height: 110px;
  width: 90%;
  /* border: 1px solid green; */
  
}
.adress{
  
  margin-top: 1px;
  /* border: 1px solid green; */

}
.card3 {
  
  height: 110px;
  width: 90%;  
  display: flex;
  justify-content: space-between;

}
.p {
  font-size: 15px;
}
.h {
  font-size: 10px;
}
.adress{
  margin-left: 90px;
}
.won{
  margin-left: 90px;
}

.bottom{
  height: 100px;
  width: 750px;
  
  /* border: 1px solid greenyellow; */
  display: flex;
  
}
.bottom1 {
  height: 100px;
  width: 350px;
  margin-top: 10px;
  /* border: 1px solid greenyellow; */
  display: flex;
  justify-content: space-between;
}


.over {
  margin-top: 10px;
  display: flex;
 
}
.player{
  
 height: 100px;
 width: 350px;
 /* border: 1px solid black; */
 display: flex;
 /* margin-top: 20px;
 margin-right: 20px;
 margin-right: 10px; */
 margin: 20px;
}
/* .david{
  margin-top: 10px;
  margin-right: 30px;
  
} */
.img{
 
  height: 100px;
  width: 130px;
  margin-right: 30px;
  
}
.player_info{
 margin: 1px;
 font-size: 20px;
 color: red;

}
.i{
  margin: 1px;
  font-size: 15px;
  text-decoration: none;
  margin: 5px;
 

}
.pl{
  margin-top:-15px;

}
.gt{
 
  font-size: 20px;
  margin: 5px;
}